@font-face{
	font-family: 'san-bold';
	src: url(../fonts/Sansita-Bold.ttf);
}
.Bill .form-control {
    margin-bottom: 20px;
    border-radius: 15px;
    height: 45px;
    font-size: 17px;
}
.Bill h2 {
    margin-bottom: 50px;
    text-align: center;
}
.Bill h2:before {
    content: '';
    border-bottom: 2px solid #c00a27;
    position: absolute;
    width: 15%;
    top: 60px;
}
.bill-sec {
    margin-top: 100px;
    border: 1px solid #ccc;
    border-radius: 13px;
}
h3.bill-hed {
    text-align: center;
    color: #c00a27;
}
h4.cart-empty {
    text-align: center;
    margin-top: 100px;
}
.view-cart li {
    list-style: none;
    font-family: cursive;
    line-height: 25px;
}
.bt-def {
    color: white;
    background-color: #c00a27;
    border: 1px solid #c00a27;
    margin: 0 auto;
    display: table;
    padding: 10px 25px;
    font-size: 18px;
    position: relative;
    top: -22px;
    text-align: center;
}
.Bill .bt {
    color: white;
    background-color: #c00a27;
    border: 1px solid #c00a27;
    margin: 0 auto;
    display: table;
    font-size: 18px;
    position: relative;
    top: 20px;
    width: 30%;
    text-align: center;
    padding: 7px;
    text-decoration: none;
}
#pay{
    visibility: hidden;
}
.reg {
   
    border: 1px solid rgb(204, 204, 204);
    padding: 40px;
}
label.crt {
    font-size: 20px;
    margin: 0 auto;
    display: table;
    color: #cccccc;
    position: relative;
    top: 33px;
}
a.exist {
    color: #bbb0b0;
    float: right;
    text-decoration: none;
    font-size: 19px;
    position: absolute;
    left: 77%;
    top: 25px;
}
a.exist:hover{
    color: #c00a27;
   border-bottom: 2px solid;
}
.login .bt-def {
    color: white;
    background-color: #c00a27;
    border: 1px solid #c00a27;
    margin: 0 auto;
    display: table;
    padding: 10px 25px;
    font-size: 18px;
    position: absolute;
    top: 270px;
    left: 340px;
    text-align: center;
}
.login .form-control {
    margin-bottom: 20px;
    border-radius: 15px;
    height: 45px;
    font-size: 17px;
}
.login h3 {
    text-align: center;
    font-weight: bold;
    font-family: san-bold;
    position: relative;
    bottom: 25px;
    font-size: 25px;
}
.login .bill-sec {
    border: 1px solid #ccc;
    border-radius: 13px;
    position: relative;
    bottom: 80px;
}
.login .reg {
    border-radius: 15px;
    position: relative;
    top: 19px;
}
.login a.exist {
    color: #bbb0b0;
    float: right;
    text-decoration: none;
    font-size: 19px;
    position: absolute;
    left: 72%;
    top: 43px;
}